<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>

  <akka>
    <hocon>
      <![CDATA[
          akka {
            actor {
              deployment {
                /domestic_transfer_recipient {
                  router = round-robin-pool
                  resizer {
                    enabled = on
                    lower-bound = 1
                    upper-bound = 10
                    messages-per-resize = 10
                  }
                }
              }
            }
          }
      ]]>
    </hocon>
  </akka>
</configuration>
