services:
  web:
    image: web:latest
    hostname: web
    ports:
      - 3000:3000
      - 9110:9110
    expose:
      - 8081
    depends_on:
      - account.1
      - account.2
    environment:
      - ClusterStartupMethod=Discovery
      - ClusterDiscoveryStartup__EndpointNames=account.1,account.2
      - ClusterDiscoveryStartup__Port=8558
      - PetabridgeCmdRemoting__Port=9110
      - DOTNET_URLS=http://+:3000
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__Postgres=postgres://postgres:password@postgres/akkabank
      - ConnectionStrings__PostgresAdoFormat=Server=postgres;Database=akkabank;Uid=postgres;Pwd=password
      - AkkaRemoting__Port=8081
      - QueueConnection__Host=rabbitmq
      - QueueConnection__Port=5672
      - QueueConnection__Username=test
      - QueueConnection__Password=test
      - QueueConnection__VirtualHost=/
  account.1:
    image: account:latest
    hostname: account.1
    ports:
      - 9111:9111
    expose:
      - 8082
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    environment:
      - ClusterStartupMethod=Discovery
      - ClusterDiscoveryStartup__EndpointNames=account.1,account.2
      - ClusterDiscoveryStartup__Port=8558
      - PetabridgeCmdRemoting__Port=9111
      - ASPNETCORE_ENVIRONMENT=Development
      - MockPartnerBank__Port=5007
      - ConnectionStrings__Postgres=postgres://postgres:password@postgres/akkabank
      - ConnectionStrings__PostgresAdoFormat=Server=postgres;Database=akkabank;Uid=postgres;Pwd=password
      - EmailServiceUri=https://api.useplunk.com/v1/
      - AkkaRemoting__Port=8082
      - QueueConnection__Host=rabbitmq
      - QueueConnection__Port=5672
      - QueueConnection__Username=test
      - QueueConnection__Password=test
      - QueueConnection__VirtualHost=/
  account.2:
    image: account:latest
    hostname: account.2
    ports:
      - 9112:9112
    expose:
      - 8082
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - ClusterStartupMethod=Discovery
      - ClusterDiscoveryStartup__EndpointNames=account.1,account.2
      - ClusterDiscoveryStartup__Port=8558
      - PetabridgeCmdRemoting__Port=9112
      - ASPNETCORE_ENVIRONMENT=Development
      - MockPartnerBank__Port=5007
      - ConnectionStrings__Postgres=postgres://postgres:password@postgres/akkabank
      - ConnectionStrings__PostgresAdoFormat=Server=postgres;Database=akkabank;Uid=postgres;Pwd=password
      - EmailServiceUri=https://api.useplunk.com/v1/
      - AkkaRemoting__Port=8082
      - QueueConnection__Host=rabbitmq
      - QueueConnection__Port=5672
      - QueueConnection__Username=test
      - QueueConnection__Password=test
      - QueueConnection__VirtualHost=/
  scheduler:
    image: scheduler:latest
    hostname: scheduler
    ports:
      - 9113:9113
    expose:
      - 8083
    depends_on:
      - account.1
      - account.2
    environment:
      - ClusterStartupMethod=Discovery
      - ClusterDiscoveryStartup__EndpointNames=account.1,account.2
      - ClusterDiscoveryStartup__Port=8558
      - PetabridgeCmdRemoting__Port=9113
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__Postgres=postgres://postgres:password@postgres/akkabank
      - ConnectionStrings__PostgresAdoFormat=Server=postgres;Database=akkabank;Uid=postgres;Pwd=password
      - AkkaRemoting__Port=8083
      - Quartz__SchedulerName=Quartz Bank Scheduler
      - Quartz__TablePrefix=qrtz_
      - QueueConnection__Host=rabbitmq
      - QueueConnection__Port=5672
      - QueueConnection__Username=test
      - QueueConnection__Password=test
      - QueueConnection__VirtualHost=/
  mock-partner-bank:
    image: mock-partner-bank:latest
    expose:
      - 5007
    environment:
      - TCP_BIND_PORT=5007
  postgres:
    image: postgres:16.0
    restart: unless-stopped
    environment:
      - POSTGRES_DB=akkabank
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    ports:
      - 5432:5432
    volumes:
      # Scripts in /docker-entrypoint-initdb.d are run at startup.
      # Copy SQL seed scripts from host to container.
      - ./Database/Init:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - 5008:8080
  rabbitmq:
    image: rabbitmq:4.0.7-management
    restart: unless-stopped
    hostname: rabbitmq
    ports:
      - 5672:5672
      - 15672:15672 # management UI
    environment:
      - RABBITMQ_DEFAULT_USER=test
      - RABBITMQ_DEFAULT_PASS=test
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_running"]
      interval: 5s
      timeout: 20s
      retries: 5
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

volumes:
  rabbitmq_data:
    driver: local
