.payment-dashboard
  h6
    margin-bottom: 0
  table
    margin-bottom: 3rem

.payment-schedule
  .grid
    grid-template-columns: repeat(auto-fit, minmax(0%, 1fr))
  article
    padding: .5rem
    padding-top: 1rem
    margin: .3rem 0
    position: relative
  p
    margin-bottom: 0
  .payment-ordering
    position: absolute
    top: .2rem
    right: .3rem
    color: var(--primary)

.invoice
  article
    padding: 0.6rem