@import "@picocss/pico"

@import "./Primitives/variables.sass"
@import "./Primitives/elements.sass"
@import "./Primitives/utility.sass"
@import "./Components/sweet-alert.sass"
@import "./Components/recharts.sass"
@import "./Components/form.sass"
@import "./Components/navigation.sass"
@import "./Components/sidebar-menu.sass"
@import "./Components/action-menu.sass"
@import "./Components/table.sass"
@import "./Components/table-control-panel.sass"
@import "./Components/nickname.sass"
@import "./Components/accounts.sass"
@import "./Components/automatic-balance-management.sass"
@import "./Components/approvals.sass"
@import "./Components/payments.sass"
@import "./Components/employees.sass"
@import "./Components/employee-cards.sass"
@import "./Components/transactions.sass"
@import "./Components/footer.sass"
@import "./Components/analytics.sass"
@import "./Components/screen-overlay.sass"

.transaction-dashboard, .employee-dashboard, .history-dashboard, .card-dashboard, .analytics-dashboard
  h1, h2, h3, h4, h5, h6
    margin-bottom: .7rem

main
  padding: var(--block-spacing-vertical) 0

  > .grid article
    padding: 1rem
    margin: .5rem 0

.app-shell
  padding: 0
  > .grid
    grid-column-gap: 0
  .menu
    background: var(--card-background-color)
    box-shadow: var(--card-box-shadow)
    min-height: 100vh

    li
      border-left: solid transparent 0.1rem
      &.selected, &:hover
        border-color: var(--primary)
  .active-page
    overflow-y: scroll
    height: 90vh

@media (min-width: 992px)
  .app-shell
    > .grid
      grid-template-columns: 9% auto
    .menu
      ul
        padding-left: 0

  main > .grid
    grid-template-columns: auto 5%

@media (min-width: 576px), (min-width: 768px), (min-width: 992px), (min-width: 1200px)
  main
    --block-spacing-vertical:calc(var(--spacing) * 1.5)
