@use "@picocss/pico" as *

@use "Primitives/variables.sass"
@use "Primitives/elements.sass"
@use "Primitives/utility.sass"
@use "Primitives/scrollbar.sass"
@use "Components/sweet-alert.sass"
@use "Components/recharts.sass"
@use "Components/form.sass"
@use "Components/navigation.sass"
@use "Components/bottom-drawer.sass"
@use "Components/sidebar-menu.sass"
@use "Components/action-menu.sass"
@use "Components/table.sass"
@use "Components/table-control-panel.sass"
@use "Components/nickname.sass"
@use "Components/accounts.sass"
@use "Components/automatic-balance-management.sass"
@use "Components/approvals.sass"
@use "Components/payments.sass"
@use "Components/employees.sass"
@use "Components/employee-cards.sass"
@use "Components/transactions.sass"
@use "Components/footer.sass"
@use "Components/analytics.sass"
@use "Components/screen-overlay.sass"
@use "Components/diagnostic.sass"

// Define z-index relations here
.control-panel-container
  z-index: 15
.action-menu
  z-index: 16
.screen-overlay
  z-index: 17

.transaction-dashboard, .employee-dashboard, .history-dashboard, .card-dashboard, .analytics-dashboard
  h1, h2, h3, h4, h5, h6
    margin-bottom: .7rem

.transaction-dashboard, .history-dashboard
  // Compensate for footer potentially blocking post-content placed pagination
  main
    margin-bottom: 1.5rem

main
  padding: var(--block-spacing-vertical) 0

  > .grid article
    padding: 1rem
    margin: .5rem 0

.app-shell
  padding: 0
  > .grid
    grid-column-gap: 0
  .menu
    background: var(--card-background-color)
    box-shadow: var(--card-box-shadow)
    min-height: 100vh

    li
      border-left: solid transparent 0.1rem
      &.selected, &:hover
        border-color: var(--primary)
  .active-page
    overflow-y: scroll
    overflow-x: hidden
    height: 90vh

@media (min-width: 992px)
  .app-shell
    > .grid
      grid-template-columns: 9% auto
    .menu
      ul
        padding-left: 0

  main > .grid
    grid-template-columns: auto 5%

@media (min-width: 576px), (min-width: 768px), (min-width: 992px), (min-width: 1200px)
  main
    --block-spacing-vertical:calc(var(--spacing) * 1.5)
