@import "@picocss/pico"

@import "./sweet-alert.sass"

@media screen
  :root:not([data-theme])
    --primary:#fdd835
    --primary-hover:#ffeb3b
    --primary-focus:rgba(253, 216, 53, 0.25)
    --primary-inverse:rgba(0, 0, 0, 0.75)

:where(input,select,textarea,fieldset,.grid)[aria-invalid=true] + small
  color: var(--del-color)

:root
  --form-element-active-border-color:var(--primary)
  --form-element-focus-color:var(--primary-focus)
  --switch-color:var(--primary-inverse)
  --switch-checked-background-color:var(--primary)

[data-tooltip]:not(a, button, input)
  border-bottom: none
  text-decoration: none
  cursor: pointer

nav [data-tooltip], footer [data-tooltip]
  border-bottom: none

nav
  &:nth-child(1)
    padding-top: 0.6rem
    padding-bottom: 0.6rem

  &:nth-child(2)
    background-color: var(--card-background-color)
    padding-top: 0.4rem
    padding-bottom: 0.4rem

  &.link-menu
    justify-content: flex-start
    a
      margin-right: 1.5rem

.system-ops-title
  color: var(--color)
  border-right: solid 0.1rem
  padding-right: 0.5rem

.system-op
  padding-left: 0.5rem
  padding-right: 0.5rem

details[role=list] li a.selected
  background-color: var(--primary)
  color: var(--primary-inverse)

.account-name
  color: var(--primary)

.success
  color: var(--ins-color)

.alert, .debit
  color: var(--del-color)

.credit
  color: var(--ins-color)

small
  color: var(--muted-color)

button
  text-align: center

.hidden
  display: none

.form-wrapper 
  fieldset
    width: 100%
  h6
    display: inline-block
    margin-top: 0.35rem

.form-submit-controls
  .grid
    grid-template-columns: 30% auto
  button
    padding: .4rem

aside button.close
  position: relative
  float: right
  padding: 0.3rem .8rem
  width: auto
  font-size: .9rem

details
  &[role=list].no-caret summary::after
    background-image: none
  ul li
    list-style: none

.card-detail
  .card-detail-menu
    margin-top: .5rem
    margin-bottom: 1rem
    i
      padding: 0 .5rem
  .card-summary
    margin-top: 2rem
    p
      margin-bottom: .8rem
    .grid
      >:last-child
        text-align: right
  details
    padding: .7rem
    border: var(--border-width) solid var(--primary)
    border-radius: var(--border-radius)
    line-height: var(--line-height)
    summary
      &::after
        height: 1rem
  .spending-container
    small
      display: block

.transaction-detail
  padding: 1rem
  background-color: var(--card-background-color)

  details
    margin-bottom: 0

    i.fa-ellipsis-h
      margin-right: -1.2rem

  section
    margin-top: 1.5rem
    margin-bottom: 0

  h3
    margin-bottom: 0

.nickname small
  margin-bottom: 0

  .nickname-controls
    text-align: right

footer
  text-align: center
  position: fixed
  bottom: 0
  background: var(--card-background-color)
  box-shadow: var(--card-box-shadow)
  padding: .5rem 0
  overflow: hidden
  &.grid
    grid-template-columns: 30% 25% 25%

  .rotating-footer-metric
    opacity: 1
    transition: opacity 1s ease-in-out
    position: absolute
    height: 100%
    display: flex
    align-items: center
    &.fade-in
      opacity: 1
    &.fade-out
      opacity: 0

  p
    display: inline

  > div
    display: flex
    align-items: center
    justify-content: center
    &:first-child, &:last-child
      flex-direction: column

    p
      margin-bottom: 0
      padding-right: 0.4rem

.transaction-dashboard, .employee-dashboard, .employee-history-dashboard, .card-dashboard, .analytics-dashboard
  h1, h2, h3, h4, h5, h6
    margin-bottom: .7rem

.employee-tables
  margin-top: 1rem

  h1, h2, h3, h4, h5, h6
    margin-bottom: 0

p[role='employee-role']
  display: inline-block
  background-color: var(--primary)
  color: var(--primary-inverse)
  border-radius: 0.8rem
  padding: .05rem .4rem
  font-size: .8rem

.employee-detail
  p
    margin-bottom: 0
  .employee-detail-top-section
    p
      display: inline-block
      margin-right: .5rem
    details
      margin-top: .5rem

.employee-permissions
  p, li
    font-size: .8rem
  li
    padding: 0
  i
    padding-right: .3rem
  .employee-allowed-feature-access
    i
      color: var(--ins-color)
  .employee-disallowed-feature-access
    i
      color: var(--del-color)

.action-menu
  position: fixed
  right: 0
  top: 30%
  transform: translateY(-30%)
  width: 20px
  button
    width: 17rem
    padding: 0
    background-color: black
    grid-template-columns: 18% auto
    margin: .5rem 0
    position: relative
    right: 200%
    transition: transform 0.2s ease-in-out
    &:hover
      transform: translateX(-85%)
    span
      padding: .5rem 0
      &:first-child
        border-right: var(--border-width) solid var(--border-color)
      &:last-child
        text-align: left

.title-and-button-container
  margin-bottom: 1rem
  display: flex
  align-items: center
  justify-content: space-between
  h4
    margin-bottom: 0
  button
    width: auto
    padding: .4rem
    margin-bottom: 0
    i
      padding-right: .5rem

.analytics-dashboard
  article
    margin-top: 0
    margin-right: 2rem
    button
      width: auto
      padding: .3rem 1rem
      i
        padding-right: 0.5rem
  .analytics-chart-filter
    grid-template-columns: 25% 18% 18%
  .analytics-top-purchasers
    article
      width: 50%
    .top-n-list-container
      > *
        display: flex
        align-items: center
        justify-content: space-between
        margin-bottom: 1rem
        p
          margin-bottom: 0
  .analytics-top-money-flow
    margin-top: 3rem
    .grid
      grid-template-columns: 50% 50%
    .top-n-list-container
      min-height: 13rem
      > *
        display: flex
        align-items: center
        justify-content: space-between
        margin-bottom: 1rem
        p
          margin-bottom: 0
    .analytics-monthly-time-series
      p
        margin-bottom: 0
      &.grid
        align-items: center
  .analytics-topN-filter
    align-items: center
    &.grid
      grid-template-columns: 20% 20%

.account-dashboard
  .org-summary
    margin-bottom: 1rem
    padding-bottom: 1rem
    box-shadow: 0px 6px 8px -6px rgba(0, 0, 0, 0.8)
    .balance
      margin-bottom: 0
      padding-left: 1rem
  .accounts
    grid-template-columns: 30% 30% 30%
    p
      color: var(--primary)
      margin-bottom: 0
    small
      display: block
    a
      padding: 1rem
    article
      > div
        margin-bottom: 1rem
    button
      margin-top: 2rem
      i
        padding: 0 .5rem

.control-panel-and-table-container
  position: relative
  overflow: hidden
  min-height: 30rem
  .pagination
    float: right

.control-panel
  padding: 1rem
  position: sticky
  top: 0
  margin-bottom: 4rem
  > *
    display: inline

  button
    float: left
    margin-right: .8rem
    padding: .3rem .8rem
    width: auto

    &:last-child
      margin-right: 0

    &.create-employee
      float: right

  i
    padding-right: .4rem
    .fa-filter
      padding-left: 0

  a
    float: right
    padding: 0 1rem

button.filter-pill
  font-size: .8rem
  border-radius: 2rem
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.8)
  padding: .4rem 0

  span
    padding: .8rem .5rem .8rem 1rem

  b
    padding: .5rem .7rem
    background-color: black
    border-radius: 0 2rem 2rem 0

    &:hover
      box-shadow: -2px 0 4px 0 rgba(255, 255, 255, 0.8)
      color: var(--del-color)

a.pagination
  padding: 0 .4rem

.filter-view
  position: absolute
  top: 3.5rem
  background-color: black
  width: 100%
  height: 100%
  opacity: .9
  padding: 1.5rem 1rem
  overflow: scroll

  aside
    ul
      padding-left: 0

    li
      padding: 0 1rem
      margin-bottom: 1.5rem
      border-left: 0.13rem solid var(--secondary)
      &.active
         border-color: var(--primary)

    button.close
      float: none

table.clickable-table tbody tr
  cursor: pointer
  border-left: solid transparent 0.2rem

  &.selected, &:hover
    border-color: var(--primary)

main
  padding: var(--block-spacing-vertical) 0

  > .grid article
    padding: 1rem
    margin: .5rem 0

.app-shell
  padding-left: 0
  padding-bottom: 0

  .menu
    background: var(--card-background-color)
    box-shadow: var(--card-box-shadow)
    min-height: 1000px

    li
      border-left: solid transparent 0.1rem
      &.selected, &:hover
        border-color: var(--primary)

.screen-overlay
  background-color: rgba(0, 0, 0, 0.7)
  position: fixed
  top: 0
  right: -100%
  height: 100%
  width: 100%
  z-index: 1000
  transition: right 0.3s ease-in-out
  &.active
    right: 0
  >.grid
    height: 100%
    grid-template-columns: auto 40%
  >.overlay-wide
    grid-template-columns: auto 70%
  aside
    background-color: var(--background-color)
    display: flex
    height: 100%
    overflow: scroll
    align-items: start
    justify-content: center
    > *
      width: 90%

@media (min-width: 992px)
  .app-shell
    > .grid
      grid-template-columns: 13% auto
    ul
      padding-left: 0

  main > .grid
    grid-template-columns: auto 5%

@media (min-width: 576px)
  main
    --block-spacing-vertical:calc(var(--spacing) * 1.5)

@media (min-width: 768px)
  main
    --block-spacing-vertical:calc(var(--spacing) * 1.5)

@media (min-width: 992px)
  main
    --block-spacing-vertical:calc(var(--spacing) * 1.5)

@media (min-width: 1200px)
  main
    --block-spacing-vertical:calc(var(--spacing) * 1.5)

@media (min-width: 576px)
  body footer
    --block-spacing-vertical:var(--spacing)

@media (min-width: 768px)
  footer
    --block-spacing-vertical:var(--spacing)

@media (min-width: 992px)
  footer
    --block-spacing-vertical:var(--spacing)

@media (min-width: 1200px)
  footer
    --block-spacing-vertical:var(--spacing)
