.swal2-popup {
  background: var(--card-background-color)
}
.swal2-popup.swal2-toast {
  box-shadow: 0 0 0.45em var(--color);
}
.swal2-title {
  color: var(--color);
}
.swal2-content {
  color: var(--color);
}
.swal2-styled.swal2-confirm {
  color: var(--color);
  background-color: var(--background-color);
  border-color: var(--border-color);
}
.swal2-icon.swal2-error {
  border-color: var(--del-color);
}
.swal2-icon.swal2-error [class^=swal2-x-mark-line] {
  background-color: var(--del-color);
}
